body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    /*overflow: hidden;*/
}

h1 {
    color: red;
    text-align: center;
}

#app-wrapper {
    margin: 0 auto;
    padding: 0px;
}

#game {
    background: black;
    margin: 0px auto;
    outline: 1px solid grey;
}
#debug {
    min-width: 20px;
    min-height: 20px;
    float: left;
    margin-left: 400px;
    background-color: red;
}